.dim-headline {
  font-size: 18px;
  font-weight: 600
}

.dim-title {
  font-size: 20px;
  font-weight: 600
}

.dim-subtitle {
  font-weight: 400;
  color: rgb(168, 168, 168)
}

.v-card {
  border-radius: 5px
}

.clickable-card {
  user-select: none;
  -webkit-user-select: none;
}