.dim-headline {
  font-size: 18px;
  font-weight: 600
}

.dim-title {
  font-size: 20px;
  font-weight: 600
}

.dim-subtitle {
  font-weight: 400;
  color: rgb(168, 168, 168)
}

.dim-side-icon {
  font-size: 20px
}

.v-card {
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.09);
}

.v-card.v-card--flat {
  box-shadow: none
}

.clickable {
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.v-tooltip__content {
  background: #212121;
  border-radius: 5px
}

.theme--light.v-table, .theme--light.v-datatable .v-datatable__actions {
  background-color: transparent
}

.container {
  max-width: 100%;
  padding: 10px 24px
}

.theme--light.v-table thead tr:first-child {
  border-bottom: none
}

.theme--light.v-table tbody tr:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.theme--light.v-divider {
  border-color: rgba(0, 0, 0, 0.05)
}

.theme--dark.v-table {
  background-color: transparent
}